<!-- Header container for Search bar and Choose CSV File -->
<div class="header-container">
  <!-- Search bar at the middle-top -->
  <div class="search-bar">
    <input type="text" placeholder="Search by card name" [(ngModel)]="searchTerm" (input)="loadCards()">
  </div>

  <!-- Drag and drop container for CSV file -->
  <div class="csv-upload" (dragover)="onFileDragOver($event)" (drop)="onFileDrop($event)">
    <p>Please Select CSV File</p>
    <!-- File input with event binding inside the drag and drop container -->
    <button (click)="fileInput.click()">Choose File</button>
    <input type="file" #fileInput style="display: none;" accept=".csv" (change)="onFileSelected($event)">
  </div>
</div>

<!-- Card container -->
<div class="card-container">
  <div *ngFor="let card of cardsList; let i = index" class="card-box">
    <div class="delete-btn" (click)="confirmDelete(card, i)">
      <div class="delete-icon">❌</div>
    </div>
    <div class="card-info" (click)="showCardDetails(card)">
      <h3>{{ card.name }}</h3>
      <p>Rarity: {{ card.rarity }}</p>
      <p>Type: {{ card.type }}</p>
      <p>Nation: {{ card.nation }}</p>
      <p>Amount in Stock: {{ card.amount_in_stock }}</p>

      <!-- Input field for updating amount in stock -->
      <input *ngIf="card === selectedCardData" type="number" [(ngModel)]="updatedAmount" placeholder="New Amount">

      <!-- Button to trigger the updateCardAmount method -->
      <button *ngIf="card === selectedCardData" (click)="updateCardAmount(card)">Update Amount</button>
    </div>
  </div>
</div>